<?xml version="1.0" encoding="UTF-8"?>
<web-app id="quartz-websphere-spring" version="2.5" metadata-complete="true"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

	<resource-ref>
		<description>CommonJ work manager for Quartz jobs</description>
		<res-ref-name>wm/default</res-ref-name>
		<res-type>commonj.work.WorkManager</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
</web-app>